*
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.home
{
    width: 100%;
}
.home .top_banner
{
    max-width: 100%;
    background: url('http://localhost:3000/image/slide-1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}