/* Réinitialisation de base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* Barre de Navigation */
.navbar {
  background-color: #fff;
  border-bottom: 1px solid #e0e0e0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 20px;
}

.navbar-logo img {
  height: 40px;
  cursor: pointer;
}

.navbar-search {
  display: flex;
  align-items: center;
  background-color: #f1f1f1;
  padding: 5px;
  border-radius: 5px;
}

.navbar-search input {
  border: none;
  background-color: transparent;
  padding: 5px;
  outline: none;
}

.navbar-search button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  color: #0070c9;
}

.navbar-icons {
  display: flex;
  align-items: center;
}

.navbar-icon {
  position: relative;
  margin-left: 20px;
  cursor: pointer;
}

.navbar-icon img.profile-photo-nav {
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #ddd;
}

.cart-count {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 0.8rem;
}

.navbar-menu {
  display: flex;
  list-style: none;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 100px; /* Ajout du margin-bottom pour le menu de la barre de navigation */
}

.navbar-item {
  margin: 0 10px;
}

.navbar-link {
  text-decoration: none;
  color: #1d1d1f;
  font-size: 1rem;
  display: flex;
  align-items: center;
  transition: color 0.3s ease;
  margin-bottom: 10px; /* Ajout du margin-bottom pour les liens de navigation */
}

.navbar-link:hover {
  color: #0070c9;
}

.nav-icon {
  margin-right: 8px;
  font-size: 1.2rem;
}
