form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0 auto;
}

form ul li {

  margin-bottom: 10px;
  font-size: 1.1rem;
}

div {
  margin-bottom: 10px;
}

label {
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 5px;
  box-sizing: border-box;
}

button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}